body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8f5f2;
  color: #1b263b;
}

header {
  position: relative;
  height: 912px;
  padding: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.4);
}

header h1 {
  font-size: 60px;
  color: #1e3a5f;
  margin: 0;
}

.header_sup_esquerdo p {
  font-size: 150px;
}

.header-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

#links_header {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  position: relative;
  z-index: 2;
}

#links_header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

#links_header a:hover{
  color: #1e3a5f;
}

.header_sup_esquerdo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 440px;
  gap: 1rem;
  position: relative;
  z-index: 2;
}

.header_sup_esquerdo p {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 2.5rem;
}

.carrossel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.carrossel-imagens {
  display: flex;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.item {
  flex: 0 0 100%;
  height: 100%;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

main {
  padding: 2rem 1rem;
  max-width: 1000px;
  margin: auto;
}

.conteudo-pai {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.conteudo {
  max-width: 850px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 35px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #f4a261;
}

.conteudo h2,
.conteudo h3,
.conteudo h4 {
  color: #264653;
}

.conteudo h3 {
  border-bottom: 2px solid #f4a261;
  display: inline-block;
  padding-bottom: 3px;
}

footer {
  background-color: #264653;
  padding: 50px;
}
